oracle:
  connection_string: "username/******@dbserver.example.com/PROD.example.com"

ws:
  cert_path: /path/to/cert.pem
  key_path: /path/to/cert.pem
  key_password: "**********"

csm:
  password: "************"
